$base-padding: 10px;
$logo-title-fonts: 'Roboto Condensed', sans-serif;;

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100vw;
    padding: 0px $base-padding 0px $base-padding;
    box-sizing: border-box;

    //new
    .div-logo {
        font-family: $logo-title-fonts;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 7px;
    }
    //end new

    .nav-categories {
        display: flex;
        flex-direction: row;
        //new
        font-family: $logo-title-fonts;
        letter-spacing: 3px;
        //new
        a {
            text-decoration: none;
            color: #grey;
            transition: color .3s ease-in-out;
            font-size: 17px;
            .individual-nav-category {
                padding: 0px $base-padding 0px $base-padding;
                box-sizing: border-box;
                
            }
        }
         //new
        a:active { 
            color: black;
        }
        //new
        a:hover {
            color: purple;
        }
        //new
        .individual-nav-category:last-child {
            padding-right: 0px;
        }

        //end new
    }
}

.category-container {    
    padding: 0px $base-padding 0px $base-padding;
    box-sizing: border-box;
    .category-clothes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 350px;
        font-family: $logo-title-fonts;
        letter-spacing: 3px;
        transition: font-size .3s, filter .3s ease-in-out;
    }
    .category:hover {
        font-size: 20px;
        filter: grayscale(50%);
    }
    .category-tops {
        background-image: url('images/tops.jpg');
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
    }
    .category-bottoms {
        background-image: url('images/bottoms.jpg');
        background-size: cover;
        background-position: center 80%;
        filter: grayscale(100%);
    }
    .category-hats {
        background-image: url('images/hats.jpg');
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
    }
    .category-accessories {
        background-image: url('images/accessories.jpg');
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
    }
    .category-accessories:hover {
        filter: grayscale(20%);
    }
    .category-header {
        padding: 30px 40px 30px 40px;
        background-color: rgba($color: #ffffff, $alpha: .75)
    }
}