.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100vw;
  padding: 0px 10px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-bar .div-logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
}

.navigation-bar .nav-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
}

.navigation-bar .nav-categories a {
  text-decoration: none;
  color: grey;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  font-size: 17px;
}

.navigation-bar .nav-categories a .individual-nav-category {
  padding: 0px 10px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-bar .nav-categories a:active {
  color: black;
}

.navigation-bar .nav-categories a:hover {
  color: purple;
}

.navigation-bar .nav-categories .individual-nav-category:last-child {
  padding-right: 0px;
}

.category-container {
  padding: 0px 10px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category-container .category-clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-container .category {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 350px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  -webkit-transition: font-size .3s, -webkit-filter .3s ease-in-out;
  transition: font-size .3s, -webkit-filter .3s ease-in-out;
  transition: font-size .3s, filter .3s ease-in-out;
  transition: font-size .3s, filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}

.category-container .category:hover {
  font-size: 20px;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.category-container .category-tops {
  background-image: url("images/tops.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.category-container .category-bottoms {
  background-image: url("images/bottoms.jpg");
  background-size: cover;
  background-position: center 80%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.category-container .category-hats {
  background-image: url("images/hats.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.category-container .category-accessories {
  background-image: url("images/accessories.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.category-container .category-accessories:hover {
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

.category-container .category-header {
  padding: 30px 40px 30px 40px;
  background-color: rgba(255, 255, 255, 0.75);
}
/*# sourceMappingURL=styles.css.map */